/*Color, c'est le propiété, red est la valeur. On appelle l'ensemble instruction*/
/*du côté CSS, div est un sélécteur*/
#divSolid{
    color:red;/*Sur cette ligne, la couleur de l'écriture est rouge*/
    background-color: yellow;/*Background veut dire "arrière plane", je l'ai mis en jaune*/
    width: 200px;
    border: solid;/*Ici, j'ai rajouté des bordures solide sur le paragraphe*/
}

/*Ici, j'ai rajouté des bordures doubles noires sur le paragraphe*/
#divDouble{
    border: double black;/*J'ai mis une bordure double de couleur noir*/
    width: 200px;
    background-color: rgb(12, 126, 126);/*Ici, j'ai mis la couleur sur mon arrière plan*/
}

/*Ici, j'ai rajouté des bordures dotted (pointié) sur le paragraphe*/
#divDotted{
    border: dotted;/*J'ai mis une bordure avec pointié*/
    width: 200px;
    background-color: brown;
}

/*Ici, j'ai rajouté des bordures dashed (point-tiret) sur le paragraphe*/
#divDashed{
    border: 3px dashed;
    width: 200px;
    background-color: blueviolet;/*Couleur de l'arrière plan de la bordure*/
}
#div1{
  border: solid;
  width: 200px; /*Réglé la taille de la bordure*/
  border-radius: 25px 10px 50px 75px;
  color: green;
  background-color: yellow;
}
/*Je selectionne ma deuxième balise grace à son identifiant div2*/
#div2{
  border: 4px solid pink;
  width: 200px;/*Réglé la taille de la bordure*/
  border-radius: 50px 80px 50px 80px;
  background: #ffe6f2;  
}

.fleur {
    position: relative;/* Permet de positionner       les pétales en absolute */
    width: 150px;/* Largeur de la fleur*/
    height: 150px;/*Hauteur de la fleur*/
    margin: 50px auto;/*centre de la fleur*/
}

/* Style des pétales */
.petale {
    width: 95px; /* Largeur du pétale */
    height: 110px; /* Hauteur : donne une forme allongée */
    background: pink;/* Couleur du pétale */
    border-radius: 50%;/* Donne une forme ovale ou arrondie */
    position: absolute;/* Permet de placer individuellement chaque pétale */
    top: 15px;/* Position verticale de base */
    left: 35px;/* Position horizontale de base */
    transform-origin: 50% 100%;
    /* Origine de rotation :
       - 50% = centre horizontal
       - 100% = bas du pétale
       Cela fait tourner le pétale autour de son bas : parfait pour un effet "rayon" 
    */
}

/* Rotation des pétales */
.petale:nth-child(1) { transform: rotate(0deg); }/* 1er pétale : en haut */
.petale:nth-child(2) { transform: rotate(90deg); }/* 2e pétale : 45° */
.petale:nth-child(3) { transform: rotate(180deg); }/* 3e pétale : droite */
.petale:nth-child(4) { transform: rotate(270deg); } /* bas */

/* Le centre de la fleur */
.coeur {
    width: 60px; /* Taille du centre */
    height: 60px;
    background: yellow; /* Couleur du centre */
    border-radius: 50%;/* Cercle parfait */ 
    position: absolute;
    top: 95px; /*Déplacement vertical de la pollen */
    left: 55px; /*déplacement horizontal de la pollen*/
}
