p{
    color: red;
    text-align:center
}
#Paragraphe1{
    color:blue;
}
/*J'ai ajouté la couleure rouge à mes paragraphe et centrer les textes*/
h1{
    color: green;
}

/*J'ai ajouté la couleure verte à mon titre h1*/
h4{
    color:brown;
}
/*J'ai ajouté la couleure blue à mon titre h4*/
ol{
    color:chocolate;
}
/*J'ai ajouté la couleure chocolate à ma liste ordonnée*/
h5{
    color:aqua;
}
/*J'ai ajouté la couleure aqua à mon titre h5*/
h6{
    color:chartreuse;
}
/*J'ai ajouté la couleure chartreuse à mon titre h6*/
    
ul{
    color:crimson;
}
/*J'ai ajouté des couleurs à ma liste non ordonnée*/

/*Je selectionne la classe rsma et les paragraphes vont être en blue*/
.rsma{
            color:blue;
}
